<template name="infoList">
    <table>
        <thead>
            <tr>
                <th>标题</th>
                <th>分类</th>
                <th>需求/资源</th>
                <th>内容</th>
                {{#if isUser}}
                <th>状态</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each infoList}}
            <tr>
                <td>{{title}}</td>
                <td>{{categoryName}}</td>
                <td>{{directionName}}</td>
                <td>{{content}}</td>
                {{#if isUser}}
                <td>{{statusName}}</td>
                {{/if}}
                {{#if isAdmin}}
                <td>
                    <input type="button" class="pass" value="审核通过" />
                    <input type="button" class="back" value="退回修改" />
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>